body {
  background: #000;
  font-family: sans-serif;
  color: white;
}

.keyboard__row {
  display: flex;
}

.keyboard__key {
  display: block;
  height: 50px;
  width: 12.5%;
  flex-grow: 1;
  text-align: center;
  line-height: 50px;
  font-family: sans-serif;
  font-size: 24px;
  border: 5px solid black;
  border-radius: 10px;
  background: #181818;
}

.keyboard__key[data-note] {
  background: #333;
}

.keyboard__key.is-playing {
  background: #555;
  border-color: #555;
}


.keyboard__key.is-down {
  background: #8AF;
  color: white;
}

.keyboard__key.is-down.is-playing { border-color: #8AF; }

/* ---- arp ---- */

/* clear fix */
.rad-zone:after {
  content: '';
  clear: both;
  display: block;
}

.arp-board {
  float: left;
  display: flex;
  margin-right: 40px;
}

.arp-board__column {
}

.arp-board__column.is-playing {
  background: hsla(210, 100%, 50%, 0.1);
}

.arp-board__cell {
  width: 30px;
  height: 20px;
  background: hsla(0, 0%, 100%, 0.15);
  margin: 1px;
  border-radius: 6px;
}

.arp-board__column:nth-child(8n+1) .arp-board__cell {
/*  border-radius: 12px 0 0 12px;*/
}

.arp-board__column:nth-child(8n+0) .arp-board__cell {
/*  border-radius: 0 12px 12px 0;*/
}

.arp-board__cell--0 { background: hsla(0, 0%, 100%, 0.45); }
.arp-board__cell---7,
.arp-board__cell--7 { background: hsla(0, 0%, 100%, 0.35); }
.arp-board__cell---3,
.arp-board__cell--4 { background: hsla(0, 0%, 100%, 0.25); }

.arp-board__cell--rest {
  margin-top: 10px;
  background: hsla(0, 100%, 50%, 0.4);
}

.arp-board__cell.is-selected { background: #8AF; }
.arp-board__column.is-playing .arp-board__cell.is-selected { background: #FD0; }

.arp-board__cell:hover {
  background: #5E8;
  cursor: pointer;
}

/* ---- range-table ---- */

.option-table {
  background: #FFF;
  float: left;
  color: #333;
  padding: 10px;
  border-radius: 5px;
}

.option-table th {
  text-align: left;
  font-weight: normal;
}